/* https://codepen.io/scottzirkel/pen/yNxNME */
hr {
        line-height: 1em;
        position: relative;
        outline: 0;
        border: 0;
        color: black;
        text-align: center;
        height: 1.5em;
        opacity: .5;
}
hr:before {
        content: '';
        /* use the linear-gradient for the fading effect */
        /* use a solid background color for a solid bar */
        background: linear-gradient(to right, transparent, #818078, transparent);
        position: absolute;
        left: 0;
        top: 50%;
        width: 100%;
        height: 1px;
}
hr:after {
        content: attr(data-content);
        position: relative;
        display: inline-block;
        color: black;

        padding: 0 .5em;
        line-height: 1.5em;
        /* this is really the only tricky part, you need to specify the background color of the container element... */
        color: #818078;
        background-color: #fcfcfa;
}

section {
        margin-bottom: 2em;
}

bubble {
        margin-left: 10%;
        width: 90%;
        display: block;
        background-color: #d1ecf1;
        padding: 10px;
        border-radius: 2px;
        margin-top: 10px;
}

bubble.interviewee {
        background-color: #f8d7da;
        margin-left: 0%;
}

author {
        margin-right: 7px;
        font-weight: bold;
}

author:after {
        margin-left: -4px;
        content: ':';
}
